<h1> Kittens </h1>

<% @kittens.each do |kitten| %>
	<div>
		<p><%= link_to kitten.name, kitten_path(kitten) %></p>
		<p>Age: <%= kitten.age %></p>
		<p>Cuteness: <%= kitten.cuteness %></p>
		<p>Softness: <%= kitten.softness %></p>
		<br>
	</div>
<% end %>

